<!-- Page content -->
<div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">
            <!-- Login form -->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                        <h5 class="mb-0">Create Account</h5>
                        <span class="d-block text-muted">Enter your credentials below</span>
                    </div>
                    <%= render "layouts/shared/object_flash_messages", object: resource %>
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="text" class="form-control" name="user[email]" placeholder="Email">
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="password" class="form-control" name="user[password]" placeholder="Password">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                        <% if @minimum_password_length %>
                        <em>(
                            <%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                    </div>
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input type="password" class="form-control" name="user[password_confirmation]" placeholder=" Password Confirmation">
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign up <i class="icon-circle-right2 ml-2"></i></button>
                    </div>
                    <div class="text-center">
                        <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- /login form -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->